<form action="/user/register" method="POST">

    <input
        type="name"
        name="name"
        placeholder="Enter Name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />

    <input
        type="email"
        name="email"
        placeholder="Enter Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />

    <input
        type="password"
        name="password"
        placeholder="Create Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    
    <input
        type="number"
        name="phoneNo"
        placeholder="Enter phoneNumber"
        value="<%= typeof phoneNo != 'undefined' ? phoneNo : '' %>"
      />
    </div>
    <button type="submit">
      Register
    </button>
  </form>

<div>
  Already Registered ? <a href='/user/login'>Login</a>
</div>

<%- include("./partials/messages") %>